/*--------------------------- ESTILOS PARA COLECCIONES */

#mainColecciones{
    display:flex ;
    flex-direction: column;
    background-color: aliceblue;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 100px;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 100 ;

}

/* CARACTERISTICAS GENERALES PARA FILA 1 */
.mainColecciones1  {
    flex-wrap: wrap;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.mainColecciones1 article{
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    width: 435px;
    height: 403px;
}

.mainColecciones1 img{
    border-radius: 40px 40px 0px 0px ;

}


.mainColecciones1 a{
    color: #ffffff;
}

.mainCard1 img{
    position:relative
}
.mainCard1 h4{
    position:absolute;
    background-color: #05302f;
    width: 415px;
    color: white;
    padding-left: 125px;
}
.mainCard2 img{
    position:relative
}
.mainCard2 h4{
    position:absolute;
    background-color: #05302f;
    width: 415px;
    color: white;
    padding-left: 135px;
}
.mainCard3 img{
    position:relative
}
.mainCard3 h4{
    position:absolute;
    background-color: #05302f;
    width: 415px;
    color: white;
    padding-left: 155px;
}
/* -------------------------FIN DE FILA 1 */

/* CARACTERISTICAS GENERALES PARA FILA 2 */
.mainColecciones2  {
    flex-wrap: wrap;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.mainColecciones2 article{
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    width: 435px;
    height: 403px;
}

.mainColecciones2 img{
    border-radius: 40px 40px 0px 0px ;

}

.mainColecciones2 a{
    color: #ffffff;
}

.mainCard4 img{
    position:relative
}
.mainCard4 h4{
    position:absolute;
    background-color: #05302f;
    width: 415px;
    color: white;
    padding-left: 110px;
}
.mainCard5 img{
    position:relative
}
.mainCard5 h4{
    position:absolute;
    background-color: #05302f;
    width: 415px;
    color: white;
    padding-left: 115px;
}
.mainCard6 img{
    position:relative
}
.mainCard6 h4{
    position:absolute;
    background-color: #05302f;
    width: 415px;
    color: white;
    padding-left: 155px;
}

/* --------------------FIN DE ESTILOS PARA COLECCIONES */