/* ---------------------------ESTILOS PARA SOBRE NOSOTROS */

#mainAboutus{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 0.8fr 1fr 1fr 0.4fr;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas:
        "titulo titulo"
        "foto texto"
        "foto foto2"
        "texto2 foto2"
        "fotos fotos";
    background-color: rgb(247, 247, 247);
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 100px;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 100 ;
    
        .mainAboutusTitulo{
            grid-area: titulo;
            align-self: center;
            justify-self: center;
            color: #085C5A;
            font-size: 25px;
        }
        .mainAboutusFoto1{
            grid-area: foto;
            background-image: url(../images/aboutus1.jpg);
            background-size:cover;
            background-repeat: no-repeat;
            border-radius: 50px;
            margin: 20px;
            background-position: center;
        }
        .mainAboutusTexto1{
            grid-area: texto;
            padding: 50px;
            align-self: center;
            font-size: 18px;
            font-weight: 300;
        }
        .mainAboutusFoto2{
            grid-area: foto2;
            background-image: url(../images/aboutus2.jpg);
            background-size:cover;
            background-repeat: no-repeat;
            border-radius: 50px;
            margin: 20px;
            background-position: center;
        
        }
        .mainAboutusTexto2{
            grid-area:texto2 ;
            padding: 50px;
            align-self: center;
            font-size: 18px;
            font-weight: 300 ;
        }
        .mainAboutusCarrusel{
            grid-area: fotos;
            height: 250px;
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            justify-self: center;
            align-items: center;
                img{
                    border-radius: 10px;
                }
        }
}

@media screen and (max-width: 765px) {
    #mainAboutus{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 100px 1fr 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
        grid-template-areas:
            "titulo"
            "foto"
            "texto"
            "foto2"
            "texto2"
            "fotos ";
        background-color: rgb(247, 247, 247);
        max-width: 1400px;
        margin: 0 auto;
        padding-top: 100px;
        min-height: 100vh;
        font-family: "Montserrat", sans-serif;
        font-weight: 100 ;
    }
    }

/* ------------------FIN DE ESTILOS PARA ABOUTUS */