/* -----------------------------ESTILOS PARA CARRITO */

#mainCarrito{
    background-color: rgb(247, 247, 247);
    max-width: 1700px;
    margin: 0 auto;
    padding-top: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400 ;
    display:flex ;
    text-align: center;
    flex-direction: column;
    
    .mainCarritoVacio{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 400px;
            h2{
                color: #085C5A;
                font-size: 30px;
                animation: fadeInUp 1.5s ease-in-out;
            }
            button{
                font-size: 15px;
                height: 50px;
                width: 200px;
                background-color:  #085C5A;
                color: aliceblue;
                border-radius: 10px;
            }
            button:hover {
                background-color: #05302f; 
                color: #fff; 
                transform: scale(1.05); 
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
            }
    }
    .mainCarritoRecomendacion{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .mainRecomendaciones{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
            img{
                border-radius: 20px ;
                transition: box-shadow 0.5s ease, border-radius 0.5s ease, transform 0.5s ease;  
            }
            img:hover {
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
                border-radius: 10px;
                transform: scale(1.02); 
            } 
            p:hover{
                color: #05302f;
                cursor: pointer;
                font-weight: 600;
            }

    }
}


/* ----------------------------- FIN DE ESTILOS PARA CARRITO */