/*------------------- ESTILOS PARA BODY */
#bodyIndex, #bodyColecciones, #bodyNosotros, #bodyContacto, #bodyCarrito, #bodyIlustraciones, #bodyAbstractos, #bodyArtistas, #bodyBotanica, #bodyProximamente{
    background-color: rgb(247, 247, 247);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-optical-sizing:auto;
    font-weight: bold;
    max-width: 100%;
}